{% extends 'index.html' %}

{% block main_content %}
    <ul>
        {% for category in categories %}
            <h1>{{ category.title }}</h1> # Назва категорії
            <ul>
                {% for dish in category %} # Перебираємо всі страви які є  цій каторії (бо є метод ітер)
                    <li>
                        <div>
                          <h4>{{ dish.title }}</h4> # Додаємо назву окремої страви
                          {% if dish.is_special %} # Перевіряємо чи страва є спеціальною
                              <h3>Ця страва крута</h3> # Якщо страва спеціальна
                          {% else %}
                              <h3>А ця не дуже</h3>
                          {% endif %}
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% endfor %}
    </ul>

{% endblock %}
